html {
  /* width: 100%;
  height: 100%; */

  transform: scale(0.9); /* 90% of original size */
  transform-origin: top left;
  width: 111.11%; /* 1 / 0.9 to compensate for shrinking */
  height: 111.11%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.Layout {
  width: 100%;
  /* height: 100%; */
  background-color: #fff;
}

.Toastify {
  height: unset !important;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}